:root{
    --branco: #FFF;
    --cinza-escuro: #3a3838;
    --cinza-claro: #F7F4F4;
    --cinza-medio: #D9D9D9;  
    --background-left: #5F9F5F;
    --background-left2:#498d49;
    --bacground-right:	#BC9FC5;
    --background-divisor: #CCCCCC;

    --montserrat: 'Montserrat', sans-serif;
    --opensens: 'Open Sans', sans-serif;
    --ptSerif: 'PT Serif', serif;
}

body{
    
    max-width: 700px;
    background: linear-gradient(90deg,rgb(196, 196, 195), rgb(133, 133, 137));
    
}

main{
    width: 100%;
}
.info_pessoais-foto{
    display: block;
    margin: 1.5rem auto;
    height: 15rem;
    border-radius: 25%;

}
.info_pessoais-titulo{
    text-align: center;
    font-size: 2.2rem;
    margin: 0 0.5rem;
    
    font-family: var(--ptSerif);
    font-weight: bold;
}

.divisor{
    text-align: center;
    height: 2px;    
    margin: 0.5rem 4rem;

    background: var(--background-divisor);
}

.info_pessoais-idade p{
    text-align: center;
    font-size: 1rem;
    margin-top: 0.5rem;

    font-family: var(--opensens);
}

.subtitulo{
    margin: 1.5rem 0 1rem 1rem;
    font-size: 1.7rem;

    font-family: var(--ptSerif);
    font-weight: bolder;
}

li{
    padding: 0.2rem 0;
}

.texto{
    font-size: 1rem;
    margin: 0 1rem;

    font-family: var(--opensens);
}

ul.info_pessoais-softskills>li:before{
    content: "🟊";
}

.contato{
    text-align: center;
}

.info_pessoais-icones{
    display: inline-block;
    width: 4rem;
    margin-bottom: 2rem;

}

.linkedin{
    float: left;
    margin-left: 15%;
}
.email{
    float: right;
    margin-right: 20%;
}

.github{
    margin: 2% 0 0 40% ;
}

.whatsapp{
    float: left;
    margin-left: 15%;
}

.mapa{
    float: right;
    margin-right: 20%;
}

.info_tecnicas{
    display: inline-block;
}

.formacao-lista>li:before{
    content: "🎓";
}

.cursos-lista>li:before{
    content: "✷";
}
.cursos-lista a{
    font-style: italic;
    font-weight: bolder;
    color: black;
    text-decoration: none;
}

.hardskills-lista>li:before{
    content: "✦";
}
.experiencia-profissional-lista>li:before{
    content: "⁕";
} 

.experiencia-profissional-lista{
    padding-bottom: 3rem;
}
/* tablet */
@media screen and (min-width:700px){
    body{
        min-width: 700px;
        max-width: 1023px;
    }
    main{
        display: flex;
        align-items: flex-start;
    }

    .left{
        position: relative;
        float: left;
        width: 100%;
        height: 100%;
    }
    .info_pessoais-titulo{
        font-size: 2.5rem;
    }
    .info_pessoais-idade p{
        font-size: 1.3rem;
    }
    .info_pessoais h2{
        margin-bottom: 1.5rem;
    }
    .subtitulo{
        font-size: 2rem;
    }
    .texto{
        font-size: 1.2rem;
    }
    .right{
        position: relative;
        float: right;
        width: 100%;
        height: 100%;
    }
    .info_tecnicas h2{
        margin-top: 4rem;
    }
}

/* desktop*/
@media screen and (min-width:1024px){
    body{
        min-width: 1024px;
        margin: auto auto;
        
    }

    main{
    }
    main{
        position: relative;
        margin-top: 3rem;
        padding-bottom: 2rem;
        
    }
    .cursos-lista a:hover{
        color: #0f1e09; 
        opacity: 0.7;
        font-size: 1.1rem;
    }

}